@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;

  --color-primary: #389df1;
  --color-primaryD: #50a9f3;
  --color-primary-content: #ffffff;
  --color-secondary: #fea01c;
  --color-secondary-content: #000000;
  --color-blackD: #131313;
  --color-pink: #e73774;
  --color-accent: #e73774;
  --color-neutral: #131313;
  --color-white: #f9f9f9;
  --color-base: #eeeeee;
  --color-base-content: #131313;
  --color-info: #50a9f3;
  --color-success: #5eb562;
  --color-warning: #fea01c;
  --color-error: #e73774;
  --color-green: #5eb562;
  --color-graybg: #eeeeee;
  --color-blackbg: #1e1e1e;
  --color-yellow: #fea01c;
}
